<ion-view view-title="Login">
  <ion-content class="padding" id="mainBackground" style="background-color: lightgrey">
    <div class="buffer" style="height: 120px"></div>
    <h1 align="center" style="color: green; font-family: 'Stalemate', cursive; font-weight: bold; font-size: 50px">TrashNTreasures</h1>
    <div class="row">
      <div class="col col-33 col-offset-33 box rotate">
        <button style="width: 100%; margin-top: 80px; padding: 3%; background-color: transparent; border: 1px white solid; border-radius: 50%" ng-click="emailLogin()">
          <i style="font-size: 50px" class="ion-ios-email"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>