<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-item class="list card" ng-repeat="product in products">

      <div class="item item-avatar">
        <img src={{product.seller_image}}>
        <h2>{{product.name}}</h2>
        <p>{{product.tagline}}</p>
      </div>

      <br>

      <div class="item-image">
        <img style="height: 280px; width: 280px;" src="{{product.image}}">
      </div>

      <br>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-pricetag-outline"></i>
        ${{product.price}}
      </a>

    </ion-item>
  </ion-content>
</ion-view>
