<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <form ng-submit="submitProduct(product)" class="list">
        <label class="item item-input">
          <input type="text" ng-model='product.name' placeholder="Trash Name">
        </label>
        <label class="item item-input">
          <input type="text" ng-model='product.tagline' placeholder="Tagline">
        </label>
        <label class="item item-input">
          <input type="text" ng-model='product.description' placeholder="Description">
        </label>
        <label class="item item-input">
          <input type="text" ng-model='product.price' placeholder="Price">
        </label>
        <img style="height: 200px; width: 200px" src="../img/package.jpg" >
        <br>
        <button type='submit' class="button button-block button-balanced">Submit</button>
      </form>
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
